@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*----------Universal---------*/

*{
    margin:0;
    text-decoration: none;
    color: #262626;
    font-family: 'Roboto', sans-serif;
}

/*----------Header---------*/

header{
    height: 60px;
    background-color: rgb(12, 25, 22);
}

#header-title{
    font-size: 48px;
    margin: 0 0 0 10px;
    color: #fafafa;
}

.nav-header{
    height: 35px;
    width: 420px;
    float: right;
    margin-top: 15px;
}

.header-a-box{
    width: 78px;
    height: 23px;
    background-color:rgb(12, 25, 22);
    color: #fafafa;
    border-radius: 15px;
    float: right;
    margin-right: 20px;
    text-align: center;
    padding-top: 5px;
    border: solid 1px;
}

.header-a-box{
    color: #fafafa;
}

.header-a-box:hover{
    color: #2abef4;
    transition: .3s;
}

/*----------Drop Bar (deactivated)---------*/

.drop-bar-button span{
    display: none;
}

.drop-bar{
    display: none;
}

.drop-bar-option{
    display: none;
}

/*----------footer---------*/

.nav-footer i{
    font-size: 30px;
    padding: 3px 4px 7px 6px;
    float: left;
    color: #fafafa;
}

.footer-a-box{
    width: 38px;
    height: 38px;
    background-color: rgb(12, 25, 22);
    border-radius: 50%;
    float: right;
    margin: 10px 15px;
    border: solid 1px;
    color: #fafafa;
}

footer{
    height: 60px;
    width: 100%;
    background-color: rgb(12, 25, 22);
}

.footer-a-box:hover i{
    color: #2abef4;
    transition: 0.3s;
}

.footer-a-box:hover{
    color: #2abef4;
    transition: 0.3s;
}

/*----------Index---------*/

#heroimage{
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/images/heroimg.JPG");
    background-size: cover;
    overflow: hidden;
}